:root {
    --theme-community-background-color              : #000000;
    --theme-article-background-color                : #070f10;
    --theme-article-background-color--rgb           : 7, 15, 16;
    --theme-article-background-color--secondary     : #2c3334;
    --theme-article-text-color                      : #e6e6e6;
    --theme-article-text-color--rgb                 : 230, 230, 230;
    --theme-article-text-color--hover               : #b3b3b3;
    --theme-link-color                              : #1ff6b3;
    --theme-link-color--rgb                         : 31, 246, 179;
    --theme-link-color--hover                       : #07a876;
    --theme-link-label-color                        : #0e191a;
    --theme-accent-color                            : #009974;
    --theme-accent-color--rgb                       : 0, 153, 116;
    --theme-accent-color--hover                     : #003327;
    --theme-accent-label-color                      : #0e191a;
    --theme-border-color                            : #454b4c;
    --theme-border-color--rgb                       : 69, 75, 76;
    --theme-article-text-mix-50                     : #777b7b;
    --theme-article-accent-mix-50                   : #045442;
    --theme-article-neutral-color                   : #0e191a;
    --theme-article-neutral-color--rgb              : 14, 25, 26;
    --theme-article-neutral-color--inverted         : #fff;
    --theme-article-neutral-color--inverted--rgb    : 255, 255, 255;
    --theme-alert-color                             : #e81a3f;
    --theme-alert-color--rgb                        : 232, 26, 63;
    --theme-alert-label                             : #ffffff;
    --theme-alert-color--hover                      : #f1778d;
    --theme-warning-color                           : #de5e33;
    --theme-success-color                           : #018c30;
    --theme-success-color--rgb                      : 1, 140, 48;
    --theme-success-label                           : #ffffff;
    --theme-message-color                           : #008c8f;
    --theme-header-background-color                 : #00997c;
    --theme-header-background-color--rgb            : 0, 153, 124;
    --theme-header-text-color                       : #0e191a;
    --theme-header-text-color--hover                : black;
    --theme-infobox-background-color                : #092620;
    --theme-infobox-section-header-background-color : #0d4939;
    --global-navigation-background-color            : #002a32;
    --global-navigation-link-color                  : #00d6d6;
    --oasis-article-background-color--darken-002    : #040809;
    --oasis-article-background-color--darken-005    : black;
    --oasis-article-background-color--darken-008    : black;
    --oasis-article-text-mix-95                     : #121a1b;
    --oasis-community-background-image              : url(../../img/background.jpg);
    --oasis-community-background-opacity            : 0.92;
    --oasis-europa-background-color                 : #122120;
    --oasis-europa-tabber-background-color          : #0b5142;
    --oasis-europa-horizontal-group-background-color: #102d28;
    --oasis-wikiabar-background-color               : #01938f;
    --oasis-wikiabar-text-color                     : #e6e6e6;
    --article-math-formula-filter                   : invert(1)
}

body {
    background-color     : var(--theme-community-background-color);
    color                : var(--theme-article-text-color);
    background-image     : var(--oasis-community-background-image);
    background-position  : top;
    background-repeat    : no-repeat;
    background-size      : cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color          : var(--theme-link-color);
}

code {
    color           : var(--theme-accent-color);
    background-color: var(--theme-article-background-color--secondary);
    padding         : 2px;
    font-size       : 105%;
    font-family     : monospace;
}

img {
    max-width: 100%;
    height   : auto;
}


.wrapper {
    margin   : 55px auto 0;
    max-width: 60vw;
}

.content-wrapper {
    padding         : 0 24px 24px;
    background-color: rgba(var(--theme-article-background-color--rgb), var(--oasis-community-background-opacity));
    position        : relative;
}

input {
    border       : none;
    border-radius: 0;
}

input[type=submit] {
    background-color   : #feee03;
    border             : 1px solid var(--global-navigation-link-color);
    /* color           : var(--theme-article-text-color); */
    ;
}